input.txt
output.txt
sorting.txt
bubblesort.exe
insertionsort.exe
selectionsort.exe
count_inversions.exe
example.exe
intersection.exe
kthsmall_element.exe
lomuto.exe
mergesort.exe
quicksort.exe
union.exe
sorting_3_type.exe


